{% extends '_templates/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}Learn about the band Queen.{% endblock %}

{% block content %}
<body>
<div class="container">
  <h1>Queen</h1>
  <h3>British rock band, Queen, formed in 1970 in the heart of London, is known for their fusion of heavy metal and glam rock music. Over 50 years and 15 studio albums later this iconic band's legacy lives on. In conversation and in movie adaptation, the band continues to thrive in our memories. </h3>
  <h2>Meet the Band</h2>
  <h3>The four founding members of Queen have a vast history of their own. Find out the the truth behind Freddie, Brian, Roger and John.</h3>
  <div class="row">
    {% for member in queen.members %}
      <div class="col-sm-6 col-lg-3">
        <div class="card mb-3">
          <img src="img/members/{{ member.image }}" alt="{{ member.name }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h5>
            {# <p class="card-text"> {{ member.instruments }}</p> #}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <h2> See Queen Live on Tour</h2>
  <h3>Upcoming Tour Dates</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>City</th>
        <th>Venue</th>
      </tr>
    </thead>
    <tbody>
    {% for tour in queen.tour2021 %}
      <tr>
        <td>{{ tour.date }} </td>
        <td>{{ tour.city }}</td>
        <td>{{ tour.venue }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
</body>
{# how do i put the footer below this? #}