{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}
{# the page name isnt showing #}
{% block page_title %} {{ name }} {% endblock %}

{% block page_description %} {{ name }} {% endblock %}
 
{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-4 {{order1}}">
        <img src="../img/members/{{ image }}" alt=" {{ member.name }}" class="img-fluid">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-6 col-md-7 col-lg-8">
        {# <img src="../img/{{ image }}" alt="" class="img-fluid mb-4"> #}
        <h1>{{ name }}</h1>
        <h5> Birthday: {{ birthdate }}</h5>
        <h5> Birth Place: {{ birthplace}}</h5>
        <h5> Tenure in the band: {{ tenure }}</h5>
        <h5> Instruments: {{ instruments }}</h5>
        <p> {{ description | safe }} <p>
        {# <p> {{ put stff here}} #}
      </div>
    </div>
  </article>
{% endblock %}