.table {
  th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;
  }
  td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
}
