// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "table";


.container {
  h1{
  font-size: 75px;
  text-align: center;
  font-family: 'Metal Mania', cursive; 
  color: red;
  }
  h2 {
  font-size: 35px;
  text-align: center;
  font-family: 'Metal Mania', cursive;
  margin-top: 20px;
  color: red;
  }
  h3 {
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: white;
  }
}

p {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: white;
  }

  h5{
    color: lightblue;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
    a{
      color: white;
      font-family: 'Metal Mania', cursive;
      font-size: 25px;
    }
  }

  h6{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  .card {
    background-color: gray;
  }
body {
  background-color: black;
}
